.album{
    margin: 40px ;
}

.add {
    float: right;
}
ul{
    list-style: none;
}
.showphoto{
    display: inline-block;
    margin-top: 20px;
    margin-right: 10px;
    border: solid 1px #000000;
    position: relative;
}

.navbar{
    background-color: #00b3ee;
    border: none;
    text-align: center;
}

.navbar li{
    display: inline-block;
}
img{
    height: 130px;
    width: 130px;
}

.title{
    color: #1f2021;
    text-align: center;
    font-weight: bold;
}
.navbar > ul >li:first-child{
    float: left;
    margin: 30px 0;
}

.navbar > ul > li:last-child{
    float: right;
    margin: 30px 40px;
}

body{
    background-color: #0f0f0f;
}

.album{
    width: 300px;
    height: 300px;
    background-color: #666666;
    border-radius: 30px;
    float: left;
    text-align: center;
}

.albumName{
    color: #00b3ee;
    font-size: 50px;
    font-weight: bold;
    margin: 125px auto;
}

a{
    text-transform: none;
}