.gallery{
    margin-top: 100px;
}
.gallery-item{
    margin-bottom: 30px;
}
.modal-footer{
    text-align: center;
}
.pagination{
    margin: 0;
}

ul{
    list-style: none;
}
ul li{
    display: inline-block;
}

.header{
    text-align: center;
    background-color: #2aabd2;
}

#photo_frame{
    height: 300px;
    width: 100%;
    background-color: #999999;
}

.upload{
    margin: 20px auto;
    display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    cursor: inherit;
    display: block;
}

 #photo_frame img{
    margin: 20px 0 20px 30px;
    height: 256px;
    width: 256px;
}

.gallery #img_modal {
    float: left;
    margin: 40px;
    border: solid 1px #1f2021;
}

.gallery a img{
    width: 300px;
    height: 300px;
}
.navbar li{
    display: inline-block;
}

.navbar > ul >li:first-child{
    float: left;
    margin: 60px 0 0 0;
}

.navbar > ul > li:last-child{
    float: right;
    margin: 60px 40px 0 0;
}