body {
    background-color: #eee;
}

*[role="form"] {
    max-width: 530px;
    padding: 15px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 0.3em;
}

*[role="form"] h2 {
    margin-left: 5em;
    margin-bottom: 1em;
}
#avatar_img{
    width: 100px;
    height: 100px;
    margin: 10px;
}
.error_register{
    color: red;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}