.login {
    width: 320px;
    height: 430px;
    overflow: hidden;
    background: #bbb;
    border-radius: 20px;
    margin: 50px auto;

}

.login .titulo {
    width: 319px;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    background: #444;
    border: #2d2d2d solid 1px;
    margin-bottom: 10px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    font-family: Arial;
}

.default_img{
    width: 100%;
    height: auto;
}

.default_img img{

    margin: 10px 120px ;
    border-radius: 50%;
}

.login form {
    width: 240px;
    height: auto;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.login form input[type=text], .login form input[type=password] {
    width: 240px;
    font-size: 12px;
    padding: 14px 40px;
    border: none;
    color: #444;
    background: #fff;
    outline: none;
    margin: 10px;
}

.login form input[type=text] {


    background: #fff url(http://dev.dhenriquez.com/test-img/icons/111-user.png) 10px center no-repeat;
}

.login form input[type=password] {
    /*border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;*/
   /* border-top: #0b0b0b 1px solid;
    border-bottom: #353535 1px solid;*/
    background: #fff url(http://dev.dhenriquez.com/test-img/icons/54-lock.png) 10px center no-repeat;
}

.login form .enviar {
    width: 240px;
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 6px;
    border: none;
    border-top: #4eb2a8 1px solid;
    border-bottom: #161616 1px solid;
    background: #349e92;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 -1px #1d7464, 0 1px #7bb8b3;
    font-family: Arial;
}

.login .olvido {
    width: 240px;
    height: auto;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 10px;
    text-align: center;
}

.login .olvido .col{
    width: 100px;
    height: auto;
    float: left;
    padding: 0 10px;
}

.login .olvido .col a {
    color: #fff;
    text-decoration: none;
    font: 12px Arial;
}

.remember{
    font: 12px Arial;
    padding:10px;
    width: 300px;
    line-height: 12px;
    font-weight: bold;
}

.remember input[type=checkbox]{
    margin: auto 10px;
}

.error_login{
    color: red;
    text-align: center;
    width: 100%;
    margin: 0 auto;
}
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
