body{
    background-color: #eee;
}
.container {
    margin: 3px;
    padding: 2px 2px 2px 2px;
}

.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-control {
    font-size: 16px;
    height: auto;
    padding: 10px;
}

